.sidebar {
  background: white;
  border-radius: 8px;
  overflow: visible;
  height: 2000000000rem;
}
.sidebar strong {
  color: black;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: over;
}
